{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static "admin/css/about.css" %}">
</head>
<body>
    <section class="team-section">
        <h2 class="section-title">- Meet Our Team -</h2>
        <div class="team-container">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://avatars.githubusercontent.com/u/129655645?v=4" alt="Anurag">
                </div>
                <h3>Anurag Verma</h3>
                <p class="role">Fullstack</p>
            </div>

            <div class="team-member">
                <div class="team-img">
                    <img src="https://avatars.githubusercontent.com/u/116283061?v=4" alt="Amrit">
                </div>
                <h3>Amrit Bhattacharya</h3>
                <p class="role">Backend</p>
            </div>
    </section>
    <section>
        <p align="center">IngrecipeAI is an AI-powered recipe assistant that helps busy individuals and bachelors quickly find easy, ingredient-based meal suggestions with nutritional insights.</p>
    </section>
</body>
    
</body>
</html>